.page_head {
    margin-top: 32px;
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.link__url {
    flex: 1;
}

.link__favicon {
    width: 32px;
    height: 32px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}

.favicon__image {
    width: 16px;
    height: 16px;
}

.meta {
    color: #666;
}
